@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  --sans-serif: "Inter", -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  --text: #222222;
  --accent: #F3579B;
}

h3 {
  color: #333333;
}

body {
  background: white;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: var(--text);
  font-family: var(--sans-serif);
  font-optical-sizing: auto;
  font-size: var(--font-s);
  font-weight: 400;
  line-height: 1.5;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

header, .content {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;
}

header {
  padding-top: 34px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header .header-title {
  background-color: var(--accent);
  background-image: linear-gradient(96.8deg, #9B51E0 -4.85%, #F3579B 104.85%);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-size: 24px;
  font-weight: 600;
}

.content {
  padding: 24px;
}

a:link, a:visited {
  text-decoration: underline;
  color: black;
}

nav a:link, nav a:visited {
  color: black;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.4;
  text-decoration: none;
  margin-left: 36px;
}

nav a.download {
  background: var(--accent);
  color: white;
  border-radius: 8px;
  padding: 4px 10px;
}

footer {
  background: var(--accent);
  color: white;
  font-size: 13px;
  font-weight: 400;
}

footer a:link, footer a:visited {
  color: white;
  text-decoration: none;
}

footer .footer-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 36px;
}

footer .grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 8px;
}

.copy-title {
  font-size: 20px;
  font-weight: 600;
  grid-area: 1 / 1 / 2 / 3;
}

.copy-body {
  grid-area: 2 / 1 / 5 / 3;
}