---
layout: body
---
<header>
  <a class="header-title" href="/">BeautyMark</a>
  <nav>
    <a href="/pricing">Pricing</a>
    <a href="/community">Community</a>
    <a href="/support">Support</a>
    <a href="/about">About</a>
    <a class="download" href="/download">Download</a>
  </nav>
</header>

<main class="content">
  {{ content }}
</main>

<footer>
  <div class="content">
    <div class="grid">
      <div class="copy-title">BeautyMark</div>
      <div><b>Product</b></div>
      <div><b>Company</b></div>
      <div><b>Social</b></div>
      <div><b>Legal</b></div>

      <div class="copy-body">Track your treasures, tame your collection, transform your routines, 
        and tailor your looks ahead of time. Your entire beauty stash at your fingertips — 
        anywhere you are.
      </div>
      <a href="">Pricing</a>
      <a href="">About</a>
      <a href="">Discord</a>
      <a href="">Privacy</a>

      <a href="">Support</a>
      <a href="">Community</a>
      <a href="">Instagram</a>
      <a href="">Terms</a>

      <a href="">Changelog</a>
      <a href="">Press Kit</a>
      <a href="">Threads</a>
    </div>
    <div class="footer-bottom">
      <div>©️ 2024 BeautyMark Labs, LLC</div>
      <div>Made with ♥︎ in foggy San Francisco</div>
    </div>
  </div>
</footer>